<app-navbar></app-navbar>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-2 border">
      <div class="position-fixed">
        <div class="text-center pt-4 ">
          <h4 class="display-5">FILTERS</h4>
          <hr />
        </div>

        <div class="border pt-2 pb-2">
          <h5 class="display-5 text-center">Price filter :</h5>
          <div *ngFor="let i of priceFilter" class="pl-5 pr-4">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
                {{ i }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Products-->
    <div class="col-sm-10 d-flex flex-wrap">
      <div *ngFor="let i of myArray">
        <app-product-list></app-product-list>
      </div>
    </div>
  </div>
</div>
