<nav class="navbar navbar-expand-md navbar-color navbar-dark">
  <a class="navbar-brand d-flex" href="home">
    <img
      src="https://image.flaticon.com/icons/svg/1055/1055687.svg"
      class="img-fluid navbar-image"
    />
    <p class="text-light pt-1 pl-2">GeekyStore</p>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="collapsibleNavbar">
    <form class="form-inline position-relative ml-auto">
      <input
        class="form-control mr-sm-2 search-width"
        type="text"
        placeholder="Search"
      />
      <button class="btn btn-edit">Search</button>
    </form>

    <ul class="navbar-nav position-relative ml-auto">
      <li *ngIf="!checkLogin()" class="nav-item p-2 rounded-border">
        <a class="nav-link text-light" href="signup">Sign Up</a>
      </li>
      <li class="nav-item p-2 rounded-border">
        <a *ngIf="!checkLogin()" class="nav-link text-light" href="login"
          >Login</a
        >
      </li>
      <li *ngIf="checkLogin()" class="nav-item p-2 rounded-border">
        <a class="nav-link text-light" href="cart">My Cart</a>
      </li>
      <li *ngIf="checkLogin()" class="nav-item p-2 rounded-border">
        <a class="nav-link text-light" href="userInfo">My Profile</a>
      </li>
      <li *ngIf="checkLogin()" class="nav-item p-2 rounded-border">
        <button
          class="nav-link btn btn-outline-danger text-light"
          (click)="logout()"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
