<nav class="navbar navbar-expand-md navbar-color navbar-dark">
  <a class="navbar-brand d-flex" href="home">
    <img src="https://image.flaticon.com/icons/svg/1055/1055687.svg" class="img-fluid navbar-image">
    <p class="text-light pt-1 pl-2">GeekyStore</p>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="collapsibleNavbar">
    <form class="form-inline position-relative ml-auto">
      <input
        class="form-control mr-sm-2 search-width"
        type="text"
        placeholder="Search"
      />
      <button class="btn btn-edit">Search</button>
    </form>

    <ul class="navbar-nav position-relative ml-auto">
      <li class="nav-item p-2 rounded-border">
        <a class="nav-link text-light" href="signup">Sign Up</a>
      </li>
      <li class="nav-item p-2 rounded-border">
        <a class="nav-link text-light" href="login">Login</a>
      </li>
      <li class="nav-item p-2 rounded-border">
        <a class="nav-link text-light" href="cart">My Cart</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid navbar-color-secondary sticky-top">
  <div class="d-flex pt-2 justify-content-center">
    <div class="pr-5 d-flex">
      <img
        src="https://image.flaticon.com/icons/svg/235/235265.svg"
        class="img-fluid navbar-image"
      />
      <p class="text-center pl-2 pt-1"><a href="#" class="text-light">Laptops</a></p>
    </div>

    <div class="pr-5 d-flex">
      <img
        src="https://image.flaticon.com/icons/svg/201/201574.svg"
        class="img-fluid navbar-image"
      />
      <p class="text-center pl-2 pt-1"><a href="#" class="text-light">Mobiles</a></p>
    </div>

    <div class="pr-5 d-flex">
      <img
        src="https://image.flaticon.com/icons/svg/125/125271.svg"
        class="img-fluid navbar-image"
      />
      <p class="text-center pl-2 pt-1"><a href="#" class="text-light">Tablets</a></p>
    </div>
  </div>
</div>
