<app-navbar></app-navbar>

<div *ngFor="let i of demo">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-sm-2 rounded-circle-custom bg-img p-4 text-center">
        <img src="../../assets/iphoneX.png" class="img-fluid img-size" />
      </div>

      <div class="col-sm-9 p-3 border">
        <h3 class="display-5 heading-border pb-2">{{ name }}</h3>
        <h4 class="display-5 mt-3">
          <span class="font-weight-bold">Price : </span
          ><span class="text-success ml-4"> &#8377; {{ finalprice }}</span>
        </h4>
        <!--Quantity-->
        <div class="d-flex mt-3">
          <h4 class="display-5">
            <span class="font-weight-bold">Quantity : </span>
          </h4>

          <button
            type="button"
            class="btn btn-warning ml-4"
            (click)="decrement()"
          >
            -
          </button>
          <div class="border p-2 pl-4 pr-4">{{ quantity }}</div>
          <button type="button" class="btn btn-warning" (click)="increment()">
            +
          </button>
        </div>
      </div>

      <div class="col-sm-1 btn-danger position-relative">
        <div>
          <i class="material-icons text-light position-absolute icon-position"
            >close</i
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!--Back and procced button-->
<div class="container-fluid position-fixed custom-pos">
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-secondary p-2 pl-5 pr-5 rounded-circle-custom shadow"
      (click)="goToHome()"
    >
      Continue Shopping
    </button>
    <button
      type="button"
      class="btn btn-success p-2 pl-5 pr-5 rounded-circle-custom-reverse shadow"
    >
      Procced To Payment
    </button>
  </div>
</div>
