<app-navbar></app-navbar>

<!--alert-->
<div
  *ngIf="buyBoolean"
  class="container-fluid alert alert-success alert-dismissible fade show text-center sticky-top"
  style="top: 50px;"
>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Thank you for buying</strong>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div *ngFor="let i of cartArray">
        <div class="container-fluid p-5">
          <div class="row">
            <div class="col-sm-2 border text-center">
              <img [src]="i.products.imgUrl" class="img-fluid img-size mt-4" />
            </div>

            <div class="col-sm-9 p-3 border">
              <a href="/home/{{ i.products.id }}" class="text-dark"
                ><h5 class="display-5 heading-border pb-2">
                  {{ i.products.name }}
                </h5></a
              >
              <div class="mt-3">
                <span class="font-weight-bold">Price : </span
                ><span class="text-success ml-4">
                  &#8377; {{ i.products.price }}</span
                >
              </div>
              <!--Quantity-->
              <div class="d-flex mt-3">
                <div>
                  <span class="font-weight-bold">Quantity : </span>
                </div>

                <button
                  type="button"
                  class="btn btn-warning ml-4 p-2"
                  (click)="decrement(i.products.id)"
                >
                  -
                </button>
                <div class="border p-2 pl-4 pr-4">{{ i.quantity }}</div>
                <button
                  type="button"
                  class="btn btn-warning p-2"
                  (click)="increment(i.products.id)"
                >
                  +
                </button>
              </div>
            </div>

            <div
              class="col-sm-1 btn-danger position-relative"
              (click)="removeItem(i.products.id)"
            >
              <div>
                <i
                  class="material-icons text-light position-absolute icon-position"
                  >close</i
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--final price info-->
    <div *ngIf="totalPrice" class="col-sm-4 responsive-margin">
      <div class="container-fluid border mt-5 sticky-top">
        <div class="text-center pt-2 pb-2">PRICE DETAILS</div>
        <hr class="ml-3 mr-3" />
        <div class="text-muted" *ngFor="let i of cartArray">
          <div>
            <span class="font-weight-bold p-2">Product : </span
            >{{ i.products.name }}
          </div>
          <div class="text-success">
            <span class="font-weight-bold p-2 text-muted">Price : </span>&#8377;
            {{ i.products.price }}
          </div>
        </div>

        <div class="mt-4">
          <div class="text-muted p-2">
            Total price :
            <span
              class="text-success"
              [(ngModel)]="totalPrice"
              [ngModelOptions]="{ standalone: true }"
              name="fieldName"
              ngDefaultControl
              >&#8377; {{ totalPrice }}</span
            >
          </div>
          <div class="text-muted p-2">
            Delievery charges : <span class="text-success">&#8377; +150</span>
          </div>
          <hr class="ml-3 mr-3" />
          <div class="p-2">
            Total :
            <span class="text-success">&#8377; {{ totalPrice + 150 }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Back and procced button-->
<div class="container-fluid custom-pos position-fixed">
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-secondary p-2 pl-5 pr-5 rounded-circle-custom shadow"
      (click)="goToHome()"
    >
      Continue Shopping
    </button>
    <button
      type="button"
      class="btn btn-success p-2 pl-5 pr-5 rounded-circle-custom-reverse shadow"
      [disabled]="!totalPrice"

      (click)="payment()"
    >
      Procced To Payment
    </button>
  </div>
</div>

<!--empty view-->
<div *ngIf="!totalPrice" class="container mt-5">
  <div class="text-center text-muted">Your cart is empty!</div>
</div>
