<div class="row m-4">
  <div class="col-sm-3 p-2 text-center product-bg">
    <img src="../../assets/iphoneX.png" [class]="'img-fluid img-style mt-5'" />
    <button class="btn btn-primary position-relative mx-auto mt-5">
      Add to cart
    </button>
  </div>
  <div class="col-sm-3 p-4 border">
    <a href="#"
      ><h4 class="display-5 pb-2 heading-border">
        Apple Iphone X (64gb)
      </h4></a
    >
    <ul class="text-muted">
      <li>5.8-inch Super Retina display (OLED) with HDR</li>
      <li>
        12MP dual cameras with dual OIS and 7MP TrueDepth front camera—Portrait
        mode and Portrait Lighting
      </li>
      <li>Face ID for secure authentication</li>
      <li>A11 Bionic with Neural Engine</li>
    </ul>
  </div>
</div>
