<div class="m-4 d-flex">
  <div class="p-2 text-center product-bg">
    <img src="../../assets/iphoneX.png" [class]="'img-fluid img-style mt-5'" />
  </div>
  <div class="p-4 border">
    <a href="/home/{{name}}"><h4 class="display-5 pb-2 heading-border">
        {{ name }}
      </h4></a>
    <ul class="text-muted" *ngFor="let i of details;">
      <li>{{ i }}</li>
    </ul>
    <div><span class="font-weight-bold">Model : </span>{{ model }}</div>
    <div><span class="font-weight-bold">Price : </span>&#x20B9; {{ price }}</div>
    <button class="btn btn-primary position-relative mx-auto mt-5">
      Add to cart
    </button>
  </div>
</div>

