<div class="card text-center pt-3 mr-5 mb-5 ml-5" style="width:400px">
  <img
    class="card-img-top img-style positon-relative m-auto"
    src="../../assets/iphoneX.png"
    alt="Product image"
  />
  <div class="card-body">
    <h4 class="card-title heading-border pb-2">
      <a href="/home/{{ name }}/{{ model }}/{{ price }}" class="text-dark">{{ name }}</a>
    </h4>
    <div class="card-text">
      <p>
        <span class="font-weight-bold">Model : </span> <span>{{ model }}</span>
      </p>
      <p>
        <span class="font-weight-bold">Price : </span>
        <span class="text-success">&#8377; {{ price }}</span>
      </p>
    </div>
    <a href="#" class="btn btn-outline-danger rounded-corner"
      >Add to Cart</a
    >
  </div>
</div>
