<div class="container-fluid text-right p-3">
  <a href="home"><i class="material-icons text-muted">home</i></a>
</div>

<div class="container-fluid">
  <h1 class="display-3 text-center heading-border">The Electronics Store</h1>

  <div class="d-flex justify-content-center mt-5">
    <img
      src="https://image.flaticon.com/icons/svg/186/186239.svg"
      class="img-fluid img-size p-3 border"
    />
    <div class="p-3 border pr-5">
      <form class="text-center" action="sendingData" method="POST">
        <div class="form-group pl-5">
          <input type="text" class="form-control" placeholder="Name" />
          <div class="text-danger pl-5 error-msg">
            Every field is required.
          </div>
        </div>

        <div class="form-group pt-2 pl-5">
          <input type="password" class="form-control" placeholder="Password" />
          <div class="text-danger pl-5 error-msg">
            Every field is required.
          </div>
        </div>

        <div class="form-group pt-2 pl-5">
          <input type="email" class="form-control" placeholder="Email" />
          <div class="text-danger pl-5 error-msg">
            Every field is required.
          </div>
        </div>

        <div class="form-group pt-2 pl-5">
          <input type="text" class="form-control" placeholder="Mobile" />
          <div class="text-danger pl-5 error-msg">
            Every field is required.
          </div>
        </div>

        <div class="form-group pt-2 pl-5">
          <input type="text" class="form-control" placeholder="Address" />
          <div class="text-danger pl-5 error-msg">
            Every field is required.
          </div>
        </div>

        <button type="submit" class="btn btn-primary pl-5 pr-5 mt-2">
          Sign Up
        </button>
      </form>
    </div>
  </div>

  <div class="text-center container mt-4 pb-5">
    Already signed in?
    <a href="login">Login</a>
  </div>
</div>
