/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}
.cursive-font{
    font-family: 'Pacifico', cursive;
}